.blocks {
    padding: 40px 100px 100px;
}

.logo {
    font-size: 24px;
    margin-right: auto;
    font-weight: bold;
}

.brand {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
    padding: 0px 100px 100px;
}

.header {
    align-items: center;
    display: flex;
    gap: 20px;
    margin-bottom: 50px;
}

.hero {
    color: #F9FAF8;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.heroText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.heroText p {
    font-size: 18px;
    color: #E5E7EB;
    flex: 1;
}

.heroTitle {
    font-size: 48px;
    font-weight: 800;
    flex: 1;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
}

.heroText button {
    max-width: 100px;
    justify-content: left;
}

.heroImg {
    max-width: 50%;
}

.heroImg img{
    max-width: 100%;
    flex: 0 1 100%;
}

.title {
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    margin: 20px;
}

.features {
    padding-top: 30px;
    display: flex;
    flex-direction: row-reverse;
    gap: 80px;
    justify-content: center;
    align-items: baseline;
    max-width: 100%;
}

.indFeature {
    display: flex;
    flex-direction: column;
    max-width: 15%;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.indFeature img {
    max-width: 80%;
    border: 5px solid #3882F6;
    border-radius: 10px;
    flex: 1;
}

.indFeature p {
    text-align: center;
}

.footer {
    justify-content: center;
    padding-bottom: 0%;
}

.quoteSection {
    background-color: #e5e7eb;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
}